#main-header{
    text-align: center;
}

.navbar-brand{
    color: aliceblue;
}

.nav-link{
    color: aliceblue;

}

#sec-home:hover{
    color: black;
}

#sec-home{
    color: aliceblue;
}

#nav-bar-btn{
    background-color:darkgray;
    border-color: black;
    color: black;
}

#main-navbar{
    width: 1000px;
    margin: auto;
    border-radius: 20px;
}

#carouselExampleSlidesOnly{
    width: 1000px;
    margin: auto;
}

#card-group-css{
    width: 1000px;
    margin: auto;
}

/* #card-image-1{
    width: 350px;
    height: 300px;
}

#card-image-2{
    width: 350px;
    height: 300px;
}

#card-image-3{
    width: 350px;
    height: 300px;
} */


#ending{
    margin-left: 200px;
}

.about-lorem{
    text-align: center;
    width: 900px;
    margin: auto;
}

.under-nav-header{
    text-align: center;
}

#search-bar-images-page{
    margin-left: 485px;
}

#search-images{
    width: 350px;
}

#btn-search-image{
    border-radius: 5px;
    background-color: black;
    color: white;
}

#btn-search-image:hover{
    background-color: black;
    color: crimson;
}

#login_in_warning{
    text-align: center;
    width: 1000px;
    color: crimson;
    font-weight: bold;
    margin: auto;
}

#wrapperDiv{
    width: 1000px;
    margin: auto;

}

#div1{
    text-align: center;
}

#div2{
    width: 980px;
    text-align: right;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.search-page-btn {
    text-decoration: none;
    color: white;
}



/* search page main div  */
#search-form-search-page {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding: 5px;
}



/* search below text on search page */
#search-form-search-page .pop {
    text-decoration: underline;
    font-size: 45px;
}



/* search div hr line */
#search-form-search-page hr {
    width: 400px;
    margin: auto;
    padding: 5px;
}


/* search page search box */
#search-form-search-page .search-input-search-name {
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}


/* search page submit button */
#search-form-search-page .search-register-btn {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#search-form-search-page .search-register-btn:hover {
    background-color: #000;
    color: crimson;
}


/* #################################################################################### */
/* search_name page */


.searched-data-stuff {
    border: 2px solid #000;
    width: 1000px;
    margin: auto;
    padding: 10px;
}

.searched-data-stuff .searched-data-header {
    text-align: center;
}

.searched-data-stuff .searched-data-url {
    font-size: 20px;
    text-decoration: underline;
}



/* ############################################################################################# */
/* error page css stuff */

.l404-containter-box {
    width: 1000px;
    margin: auto;
    padding: 10px;
    text-align: center;

}